.Rproj.user
.Rhistory
.RData
__.*
inst/doc
__sticker.R
__sticker.R
tests/.DS_Store
tests/testthat/Rplots.pdf
sandbox/
R/.DS_Store
tests/testthat/Rplots.pdf
tests/testthat/Rplots.pdf
tests/testthat/Rplots.pdf
tests/testthat/Rplots.pdf
tests/testthat/Rplots.pdf
doc
Meta
